In [1]:
from flask import render_template, jsonify, request
from app import app
from app.models import Airline, Airport, AirportGEO, Origin, Destination, BTS_Record as R
from app.forms import RouteForm
from sqlalchemy import or_, and_, func, cast, Float

In [ ]:
	records = R.query\
				.filter_by(airline_id = airline)\
				.filter(R.departures > 1)\
				.filter(R.passengers > 10)\
				.join(Origin, R.origin)\
				.group_by(R.id, Origin.id)\
				.order_by(Origin.city_name)\
				.all()

In [ ]:
records

In [ ]:
[record.id for record in records]

In [ ]:
airline = 1

output = R.query\
				.filter_by(airline_id = airline)\
				.filter(R.departures > 0)\
				.filter(R.passengers > 10)\
                .distinct(R.origin_id)\
                .join(R.origin)\
                .all()

In [ ]:
[item.origin.id for item in output]

In [ ]:
[item.origin.code for item in output]

In [ ]:
airline = 1
origin = 6

output = R.query\
				.filter_by(airline_id = airline)\
                .filter_by(origin_id = origin)\
				.filter(R.departures > 0)\
				.filter(R.passengers > 1)\
                .distinct(R.dest_id)\
                .join(R.dest)\
                .all()

In [ ]:
[item.dest.code for item in output]

In [ ]:
airline = 1
origin = 2
destination = 5

records = R.query\
            .filter_by(airline_id = airline)\
            .filter_by(origin_id = origin)\
            .filter_by(dest_id = destination)\
            .distinct(R.year)\
            .order_by(R.year)\
            .all()

In [ ]:
[item.year for item in records]

In [4]:
airline_id = 1
origin_id = 2
destination_id = 5
year = 2017

table_data = R.query\
                        .with_entities(Origin.code, Destination.code, Airline.carrier, R.month, func.sum(R.departures), func.sum(R.seats), func.sum(R.passengers), func.sum(cast(R.passengers, Float())) / func.sum(cast(R.seats, Float())))\
						.filter(R.year == year)\
						.filter(R.airline_id == airline_id)\
						.filter( or_( and_((R.origin_id == origin_id),(R.dest_id == destination_id)) , and_((R.origin_id == destination_id),(R.dest_id == origin_id)) ) )\
						.join(Origin, R.origin)\
						.join(Destination, R.dest)\
						.join(Airline, R.airline)\
						.group_by(Origin.code, Destination.code, Airline.carrier, R.month)\
						.order_by(R.month, Origin.code)\
						.all()

In [5]:
table_data

[('ORD', 'WAW', 'LO', 1, 28, 7056, 5009, 0.709892290249433),
 ('WAW', 'ORD', 'LO', 1, 28, 7056, 5877, 0.832908163265306),
 ('ORD', 'WAW', 'LO', 2, 23, 5796, 3985, 0.687543133195307),
 ('WAW', 'ORD', 'LO', 2, 23, 5796, 4011, 0.692028985507246),
 ('ORD', 'WAW', 'LO', 3, 30, 7560, 6179, 0.817328042328042),
 ('WAW', 'ORD', 'LO', 3, 30, 7560, 6082, 0.804497354497354),
 ('ORD', 'WAW', 'LO', 4, 30, 7560, 6544, 0.865608465608466),
 ('WAW', 'ORD', 'LO', 4, 30, 7560, 6514, 0.861640211640212),
 ('ORD', 'WAW', 'LO', 5, 41, 10332, 9488, 0.91831204026326),
 ('WAW', 'ORD', 'LO', 5, 41, 10332, 8139, 0.787746806039489),
 ('ORD', 'WAW', 'LO', 6, 41, 10332, 9911, 0.959252806813782),
 ('WAW', 'ORD', 'LO', 6, 41, 10332, 8963, 0.867499032133178),
 ('ORD', 'WAW', 'LO', 7, 51, 12852, 8998, 0.700124494242141),
 ('WAW', 'ORD', 'LO', 7, 51, 12852, 11223, 0.873249299719888),
 ('ORD', 'WAW', 'LO', 8, 48, 12096, 8588, 0.709986772486772),
 ('WAW', 'ORD', 'LO', 8, 48, 12096, 11942, 0.987268518518518),
 ('ORD', 'WAW', 'LO', 9, 46, 11592, 8300, 0.716011042097999),
 ('WAW', 'ORD', 'LO', 9, 46, 11592, 10508, 0.906487232574189),
 ('ORD', 'WAW', 'LO', 10, 45, 11340, 7043, 0.621075837742504),
 ('WAW', 'ORD', 'LO', 10, 45, 11340, 9626, 0.848853615520282),
 ('ORD', 'WAW', 'LO', 11, 26, 6552, 5296, 0.808302808302808),
 ('WAW', 'ORD', 'LO', 11, 26, 6552, 5876, 0.896825396825397),
 ('ORD', 'WAW', 'LO', 12, 27, 6804, 6336, 0.931216931216931),
 ('WAW', 'ORD', 'LO', 12, 27, 6804, 5153, 0.75734861845973)]